﻿@{
    ViewData["Title"] = "Home Page";
}
@using TugasEAITika.Models
@model IndexData

<div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>
        <div class="row">
          <!-- Earnings (Monthly) Card Example -->
          <div class="mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ruangan Kelas</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">Januari 2023</div>
                    <table class="table table-striped table-hover table-sm mt-2 text-center">
                      <caption>
                        List Booking Ruangan Kelas
                      </caption>
                      <thead>
                        <tr>
                          @*<th scope="col">#</th>*@
                          <th scope="col">Ruangan</th>
                          <th scope="col">Waktu</th>
                          <th scope="col">Durasi</th>
                          <th scope="col">Organisasi</th>
                          <th scope="col">Nama Acara</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody class="table-group-divider">
                          @foreach (var item in Model.Kelas)
                         {
                            <tr>
                              @*<th scope="row"></th>*@
                              <th scope="col">@item.ruangan</th>
                              <th scope="col">@item.waktu_mulai - @item.waktu_selesai</th>
                              <th scope="col">@item.berapa_kali @item.satuan_waktu</th>
                              <th scope="col">@item.organisasi</th>
                              <th scope="col">@item.nama_acara</th>
                              <td class="text-center">
                                <a asp-action="Edit" asp-controller="Kelas" asp-route-id="@item.id">
                                    <button type="button" class="btn btn-primary mr-2">Edit</button>
                                </a>
                                <button type="button" onclick="deleteData('Kelas', '@item.id')" class="btn btn-danger">Delete</button>
                              </td>
                            </tr>
                         }
                      </tbody>
                    </table>
                  </div>
                  <!-- <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ruangan Praktikum</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">Januari 2023</div>
                    <table class="table table table-striped table-hover table-sm mt-2 text-center">
                      <caption>
                        List Booking Ruangan Praktikum
                      </caption>
                      <thead>
                        <tr>
                          @*<th scope="col">#</th>*@
                          <th scope="col">Ruangan</th>
                          <th scope="col">Waktu</th>
                          <th scope="col">Durasi</th>
                          <th scope="col">Laboratorium</th>
                          <th scope="col">Mata Kuliah</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody class="table-group-divider">
                        @*@foreach (var item in Model.Praktikum)
                         {
                            <tr>
                              <th scope="row"></th>
                              <th scope="col">@item.ruangan</th>
                              <th scope="col">@item.waktu_mulai - @item.waktu_selesai</th>
                              <th scope="col">@item.berapa_kali @item.satuan_waktu</th>
                              <th scope="col">@item.laboratorium</th>
                              <th scope="col">@item.mata_kuliah</th>
                              <td class="text-center">
                                <button type="button" class="btn btn-primary mr-2">Edit</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                              </td>
                            </tr>
                         }*@
                      </tbody>
                    </table>
                  </div>
                  <!-- <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <!-- <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm mr-2">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Pending Requests Card Example -->
          <!-- <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
  <script type="text/javascript"  src="~/js/jquery-1.9.0.js"></script>
        <script>
          function deleteData(type, id) {
            if (confirm("Apakah anda yakin ingin menghapus data dengan ID " + id + "?")) {
                let url = '';
                if (type == "Kelas") {
                  url += 'rest/kelas/remove/' + id;
                }
                $.ajax({
                  type: "DELETE",
                  url: url,
                  success: function (data) {
                    alert("Berhasil Menghapus data dengan ID "+ id);
                    location.reload();
                  },
                  failure: function (response) {
                    alert("Error : "+ response.d);
                  }
                });
            }
          }
        </script>