﻿
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Form Peminjaman</h1>
      </div>
      <div class="row justify-content-center">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-6 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Form Peminjaman</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">Ruangan Praktikum</div>
                  <div class="mt-3">
                    <form>
                      <hr class="sidebar-divider my-0 bg-primary mb-4" />
                      <h5 class="text-black">Informasi Peminjam</h5>
                      <div class="mb-3">
                        <label class="form-label">Nama Lengkap</label>
                        <input type="text" name="namaLengkap" id="namaLengkap" class="form-control" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">NIM</label>
                        <input type="text" name="nim" id="nim" class="form-control" />
                        <div class="form-text">Nomor Induk Mahasiswa.</div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Nomor Telepon</label>
                        <input type="text" name="nomorTelepon" id="nomorTelepon" class="form-control" />
                        <div class="form-text">Contoh: 081212344321</div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-control" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Nama Penanggung Jawab</label>
                        <input type="text" name="namaPenanggungJawab" id="namaPenanggungJawab" class="form-control" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Laboratiroum</label>
                        <input type="text" name="laboratiroum" id="laboratiroum" class="form-control" />
                      </div>
                      <hr class="sidebar-divider my-0 bg-primary mt-5 mb-4" />
                      <h5 class="text-black">Detail Peminjaman</h5>
                      <div class="mb-3">
                        <label class="form-label">Ruangan</label>
                        <input type="text" name="ruangan" id="ruangan" class="form-control" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Tanggal</label>
                        <input type="date" name="tanggal" id="tanggal" class="form-control" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Waktu Mulai</label>
                        <input type="time" name="waktuMulai" id="waktuMulai" class="form-control" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Waktu Selesai</label>
                        <input type="time" name="waktuSelesai" id="waktuSelesai" class="form-control" />
                      </div>
                      <div class="row">
                        <div class="col-6 mb-3">
                          <label class="form-label">Satuan Waktu</label>
                          <select class="form-select" name="satuanWaktu" id="satuanWaktu" aria-label="Default select example">
                            <option selected>Choose one</option>
                            <option value="1">Hari</option>
                            <option value="2">Minggu</option>
                            <option value="3">Bulan</option>
                          </select>
                        </div>
                        <div class="col-6 mb-3">
                          <label class="form-label">Berapa Kali</label>
                          <input type="text" name="berapaKali" id="berapaKali" class="form-control" />
                          <div class="form-text">Contoh: 2</div>
                        </div>
                      </div>
                      <hr class="sidebar-divider my-0 bg-primary mt-5 mb-4" />
                      <h5 class="text-black">Detail Praktikum</h5>
                      <div class="mb-3">
                        <label class="form-label">Mata Kuliah</label>
                        <input type="text" name="mataKuliah" id="mataKuliah" class="form-control" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Nama Modul</label>
                        <input type="text" name="namaModul" id="namaModul" class="form-control" />
                      </div>
                      <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
                <button type="button" onclick="TestSoap()">ASD</button>
                <!-- <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
