﻿@model Kelas
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Form Peminjaman</h1>
        </div>
        <div class="row justify-content-center">
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Edit Peminjaman</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">Ruangan Kelas</div>
                    <div class="mt-3">
                        <hr class="sidebar-divider my-0 bg-primary mb-4" />
                        <h5 class="text-black">Informasi Peminjam</h5>
                        <div class="mb-3">
                          <label class="form-label">Nama Lengkap</label>
                          <input type="text" class="form-control" name="namaLengkap" id="namaLengkap" value="@Model.nama_lengkap" disabled/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">NIM</label>
                          <input type="text" class="form-control" name="nim" id="nim"  value="@Model.nim" disabled/>
                          <div class="form-text">Nomor Induk Mahasiswa.</div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Nomor Telepon</label>
                          <input type="text" class="form-control" name="nomorTelepon" id="nomorTelepon" value="@Model.nomor_telpon" disabled/>
                          <div class="form-text">Contoh: 081212344321</div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" id="email" value="@Model.email" disabled/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Organisasi</label>
                          <input type="text" class="form-control" name="organisasi" id="organisasi" value="@Model.organisasi" disabled/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Jabatan</label>
                          <input type="text" class="form-control" name="jabatan" id="jabatan" value="@Model.jabatan" disabled/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Nama Penanggung Jawab</label>
                          <input type="text" class="form-control" name="namaPenanggungJawab" id="namaPenanggungJawab"  value="@Model.nama_penanggung_jawab" disabled/>
                        </div>
                        <hr class="sidebar-divider my-0 bg-primary mt-5 mb-4" />
                        <h5 class="text-black">Detail Peminjaman</h5>
                        <div class="mb-3">
                          <label class="form-label">Ruangan</label>
                          <input type="text" class="form-control" name="ruangan" id="ruangan"  value="@Model.ruangan"/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Tanggal</label>
                          <input type="date" class="form-control" name="tanggal" id="tanggal"  value="@Model.tanggal_peminjaman"/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Waktu Mulai</label>
                          <input type="time" class="form-control" name="waktuMulai" id="waktuMulai"  value="@Model.waktu_mulai"/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Waktu Selesai</label>
                          <input type="time" class="form-control" name="waktuSelesai" id="waktuSelesai"  value="@Model.waktu_selesai"/>
                        </div>
                        <div class="row">
                          <div class="col-6 mb-3">
                            <label class="form-label">Satuan Waktu</label>
                            <select class="form-select" aria-label="Default select example" name="satuanWaktu" id="satuanWaktu">
                              <option>Choose one</option>
                              <option value="Hari">Hari</option>
                              <option value="Minggu">Minggu</option>
                              <option value="Bulan">Bulan</option>
                            </select>
                          </div>
                          <div class="col-6 mb-3">
                            <label class="form-label">Berapa Kali</label>
                            <input type="text" class="form-control" name="berapaKali" id="berapaKali" value="@Model.berapa_kali"/>
                            <div class="form-text">Contoh: 2</div>
                          </div>
                        </div>
                        <hr class="sidebar-divider my-0 bg-primary mt-5 mb-4" />
                        <h5 class="text-black">Keterangan Kegiatan</h5>
                        <div class="mb-3">
                          <label class="form-label">Nama Acara</label>
                          <input type="text" class="form-control" name="namaAcara" id="namaAcara" value="@Model.nama_acara" disabled/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Kategori Acara</label>
                          <input type="text" class="form-control" name="kategoriAcara" id="kategoriAcara" value="@Model.kategori_acara" disabled/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Deskripsi Acara</label>
                          <input type="text" class="form-control" name="deskripsiAcara" id="deskripsiAcara" value="@Model.deskripsi_acara" disabled/>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submit" onclick="submitData()">Submit</button>
                    </div>
                  </div>
                  <!-- <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript"  src="~/js/jquery-1.9.0.js"></script>
        <script>
          $(function () {
              let element = document.getElementById("satuanWaktu");
              element.value = "@Model.satuan_waktu";
          })

          function submitData() {
            let body = {};
            body.nama_lengkap = document.getElementById("namaLengkap").value;
            body.nim = document.getElementById("nim").value;
            body.nomor_telpon = document.getElementById("nomorTelepon").value;
            body.email = document.getElementById("email").value;
            body.organisasi = document.getElementById("organisasi").value;
            body.jabatan = document.getElementById("jabatan").value;
            body.nama_penanggung_jawab = document.getElementById("namaPenanggungJawab").value;
            body.ruangan = document.getElementById("ruangan").value;
            body.tanggal_peminjaman = document.getElementById("tanggal").value;
            body.waktu_mulai = document.getElementById("waktuMulai").value;
            body.waktu_selesai = document.getElementById("waktuSelesai").value;
            body.satuan_waktu = document.getElementById("satuanWaktu").value;
            body.berapa_kali = document.getElementById("berapaKali").value;
            body.nama_acara = document.getElementById("namaAcara").value;
            body.kategori_acara = document.getElementById("kategoriAcara").value;
            body.deskripsi_acara = document.getElementById("deskripsiAcara").value;
        
            console.log(body);
        
            if (confirm("Apakah Data Sudah Sesuai?")) {
              $.ajax({
                type: "PUT",
                url: "/rest/kelas/update/@Model.id",
                data: JSON.stringify(body),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                  alert("Data Berhasil Disimpan!");
                  location.href = "/";
                },
                failure: function (response) {
                  alert("Error : " + response.d);
                }
              });
            }
          }
        </script>